def get_passwords():
    APP_KEY =            "TWITTERAPPKEY"
    APP_SECRET =         "TWITTERAPPSECRET"

    OAUTH_TOKEN =        "TWITTEROAUTHTOKEN"
    OAUTH_TOKEN_SECRET = "TWITTERTOKENSECRET"
    return [APP_KEY, APP_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET]

def get_twitter_name():
    return "TwitterUserName"

